{
  "presets": [
    "stage-0",
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "es2015"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties"
  ]
}